.crt-overlay1 {
    content: " ";
    display: block;
    position: absolute;

    background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.60) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 5px, 20px 100%;
    pointer-events: none;
}

/* width */
::-webkit-scrollbar {
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    box-shadow: 1px 1px 10px 0.1px black inset;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
    box-shadow: -1px -1px 5px 0.1px black inset;
    opacity: 1;
}