.crt {
    content: " ";
    display: block;
    position: absolute;
    /* height: 400px; */
    width: 100%;

    background: linear-gradient(rgba(18, 16, 16, 0.192) 50%, rgba(0, 0, 0, 0.438) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 4px, 5px 100%;
    pointer-events: none;

    height: 400px;
}